@import 'open-color/open-color.scss';

:local {
    $side-width: 230px;
    $frame-width: 9px;
    $header-height: 30px;
    $footer-height: 30px;
    .flashTimeline {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        color: $oc-gray-0;
        > .playhead {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 1px;
            height: calc(100% - #{$footer-height});
            &::before {
                content: '';
                flex: 0 0 $header-height;
                position: relative;
                box-sizing: border-box;
                left: $frame-width * -0.5;
                width: $frame-width;
                border: 1px solid $oc-red-7;
            }
            &::after {
                content: '';
                flex: 1 0 0;
                position: relative;
                box-sizing: border-box;
                left: -0.5px;
                background-color: $oc-red-7;
            }
        }
    }
    .flashTimelineHeader {
        box-sizing: border-box;
        flex: 0 0 $header-height;
        display: flex;
        background-color: $oc-gray-5;
        border-bottom: 1px solid $oc-gray-6;
        > .side {
            width: $side-width;
            border-right: 1px solid $oc-gray-8;
        }
    }
    .flashTimelineLayers {
        flex: 1 0 0;
        overflow-y: scroll;
        background-color: $oc-gray-3;
    }
    .flashTimelineLayer {
        margin-top: -1px;
        box-sizing: border-box;
        display: flex;
        height: 25px;
        border-top: 1px solid $oc-gray-5;
        border-bottom: 1px solid $oc-gray-5;
        background-color: $oc-gray-4;
        > .side {
            width: $side-width;
            border-right: 1px solid $oc-gray-5;
        }
    }
    .flashTimelineFooter {
        box-sizing: border-box;
        flex: 0 0 $footer-height;
        display: flex;
        background-color: $oc-gray-5;
        border-top: 1px solid $oc-gray-6;
        > .side {
            width: $side-width;
            border-right: 1px solid $oc-gray-6;
        }
    }
}
